*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    /* background: #131313; */
}
:root{
    --max-width: 1300px;
    --background: #131313;
}
/* start navbar */
.navbar{
    background: red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    background-color: var(--background);
    width: 100%;
    max-width: var(--max-width);
    margin: 0 0;
    align-items: center;
    padding: 0 50px;

    
}

#navbar__logo{
    background-color: #ff8177;
    background-image:linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip:text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    z-index: 2;
}


.fa-gem{
    margin-right: 0.5rem;
}


.navbar__menu{
    display: flex;
    /* background: #ff0844; */
    align-items: center;
    text-align: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .6rem;
    /* background-color: aqua; */
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    border: none;
    outline: none;
    border-radius:4px;
    background: #f77062;
    color: #fff;
    transition:all 0.3s ease;
}
.button:hover{
    background: #4837ff;
}

.navbar__links:hover{
    color: #f77062;
    transition:all 0.3s ease ;
}


@media screen and (max-width:996px) {
    /* .navbar__menu{
        display: grid;
        margin-top: 15rem;
        background: blue;
        padding: 1rem;
        margin-left: auto;
        width: 280px;
        height: auto;
        z-index: -1;
    } */

    .navbar__links{
        font-size: 1.7rem;
       
    }

    .navbar__item{
        margin: 0.4rem 0;
    }

    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index:1;
        width: 100%;
        max-width: var(--max-width);
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        background: black;
        grid-template-columns: auto;
        margin:0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        height: auto;
        transition: all 0.5s ease;
        z-index: -1;
    } 

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left:25px;
        font-weight: bold;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
        width:25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 70px;
        margin: 0;
    }

   
}
/* end navbar section */

/* hero Section */

.main{
    background: #141414;
}
.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    background-color: #141414;
    /* background: pink; */
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width:100% ;
    max-width: var(--max-width);
    padding: 0 50px;
}
.main__content{
    /* background: white; */
}

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:;
}
/* end of hero section */